<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://github.com/aoijs/website/blob/master/assets/images/aoipanel.png?raw=true" type="image/png"/>
    <title>@akarui/aoi.panel</title>
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet"href="/css/prism-coy.css"/>
    <link rel="stylesheet" href="/css/jquery.terminal.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/mine.css"/>
    <link rel="stylesheet" href="/css/w3.css"/>
    <link rel="stylesheet" href="/css/panel.css"/>
    <!--js-->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/wcwidth.js"></script>
    <script src="/js/jquery.terminal.min.js"></script>
    <script src="/js/keyboard.js"></script>
    <script src="/js/unix_formatting.js"></script>
    <script src="/js/loader.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/less.js"></script>
    <script src="/js/prism2.js"></script>
    <script src="/js/figlet.js"></script>
  </head>

  <body>
    <!-- navbar -->
    <div class="navbar">
      <a class="btnkl" href="/">
        <div class="navbar-iconl">
          <img
            class="logonav"
            src="https://github.com/aoijs/website/blob/master/assets/images/aoipanel.png?raw=true"
            alt="Icon 4"
          />
          <span class="titlelogo">AOI.PANEL</span>
        </div>
      </a>
      <a class="btnk" href="/">
        <div class="btnkb">
          <div class="navbar-icon">
            <i class="navicon bi bi-house"></i>
            <span>Home</span>
          </div>
        </div>
      </a>
      <a class="btnk uk-button" uk-toggle="target: #modal-close-select">
        <div class="btnkb">
          <div class="navbar-icon">
            <i class="navicon bi bi-folder2"></i>
            <span>Files</span>
          </div>
        </div>
      </a>
      <div class="dropdownb">
        <div class="btnk dropdown">
          <div class="btnkb">
            <div class="navbar-icon">
              <i class="navicon bi bi-terminal"></i>
              <span>CMD</span>
            </div>
            <ul class="submenu">
              <li>
                <div class="tiltesub">Eval</div>
              </li>
              <li>
                <a class="uk-button" uk-toggle="target: #modal-close-djsEval">DISCORD.JS</a>
              </li>
              <li>
                <a class="uk-button" uk-toggle="target: #modal-close-aoiEval">AOI.JS</a>
              </li>
              <li>
                <div class="tiltesub">Commands</div>
              </li>
              <li>
                <a class="uk-button" uk-toggle="target: #modal-close-default">SHELL</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a class="btnk uk-button" uk-toggle="target: #modal-close-guild">
        <div class="btnkb">
          <div class="navbar-icon">
            <i class="navicon bi bi-fire"></i>
            <span>Guilds</span>
          </div>
        </div>
      </a>
      <nav>
        <div class="linsf">
          <div class="burger linsf navbar-icon">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li>
            <a class="uk-button" uk-toggle="target: #modal-close-select"
              >Files</a
            >
          </li>
          <li>
            <a class="uk-button" uk-toggle="target: #modal-close-djsEval"
              >Eval D.Js</a
            >
          </li>
          <li>
            <a class="uk-button" uk-toggle="target: #modal-close-aoiEval"
              >Eval aoi.js</a
            >
          </li>
          <li>
            <a class="uk-button" uk-toggle="target: #modal-close-default"
              >Shell</a
            >
          </li>
          <li>
            <a class="btnk uk-button" uk-toggle="target: #modal-close-guild"
              >Guilds</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <!-- container -->
    <div class="container">
      <div class="box">
        <h1>Welcome to AOI.PANEL</h1>
        <p>Panel synced with the bot</p>
        <button class="uk-button btnretart" onclick="reboot()">
          <i class="bi bi-arrow-clockwise"></i> Restart
        </button>
        <a href="/logout" class="btnlogout"><i class="bi bi-box-arrow-in-left"></i> Logout</a>
      </div>
      <div class="box2">
        <div class="boybox2">
          <div class="box2-1">
            <div class="box2-text">
              <i class="bio bi-memory"></i><br />
              <div class="">RAM</div>
            </div>
            <div class="barbox2"></div>
            <div class="box2-monbre">
              <div class="box2-monbre"><span id="ram"></span></div>
              <br />MiB
            </div>
          </div>
          <div class="box2-1">
            <div class="box2-text">
              <i class="bio bi bi-hdd-stack"></i><br />Uptime
            </div>
            <div class="barbox2"></div>
            <div class="box2-monbre">
              <div class="box2-monbre"></div>
              <div class="box2-monbre uptimet"><span id="uptime"></span></div>
            </div>
          </div>
          <div class="box2-1">
            <div class="box2-text"><i class="bio bi bi-cpu"></i><br />CPU</div>
            <div class="barbox2"></div>
            <div class="box2-monbre">
              <div class="box2-monbre"></div>
              <div class="box2-monbre"><span id="cpu"></span>%</div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="soon">SOON</h1>
    </div>
    <br />
    <div id="modal-close-default" uk-modal style=" font-family: 'Dosis', sans-serif; font-weight: 1000; color: #ffffff; ">
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" style="border-radius: 10px; background-color: #1e1e1e" >
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title"style="font-family: 'Dosis', sans-serif;font-weight: 1000;color: #ffffff;">
          Execute!
        </h2>
        <form
          id="myForm"
          action="/api/!auth/shellexec"
          method="post"
          autocomplete="off"
        >
          <!--<input type='text' name='execute' id="execute" placeholder='Type command to execute in the shell' autocomplete='false' style="width:100"  class="uk-input uk-form-width-large" size="50" required>
                -->
          <div id="terminal"></div>
          <!--<br><br>
                <div>
                    <pre id="data" style="display:none;">
    
                    </pre>
                </div>
                <br>-->
          <!--<button class="uk-button " id="execBut" style="color:#FFFFFF;background: linear-gradient(120deg, #ea00ff, #0509e6);border-radius: 30px;animation: gradient-animation 4s ease-in-out infinite;" type="submit" >Execute!</button>
                -->
        </form>
      </div>
    </div>

    <div
      id="modal-close-newFile"
      uk-modal
      style="
        font-family: 'Dosis', sans-serif;
        font-weight: 1000;
        color: #ffffff;
      "
    >
      <div
        class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"
        style="background-color: #1e1e1e"
      >
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2
          class="uk-modal-title"
          style="
            font-family: 'Dosis', sans-serif;
            font-weight: 1000;
            color: #ffffff;
          "
        >
          New File
        </h2>
        <div
          id="myFile"
          action="/api/!auth/newFile"
          method="get"
          autocomplete="off"
        >
          <input
            type="text"
            name="file"
            id="file"
            placeholder="Name of file..."
            autocomplete="false"
            style="width: 100"
            class="uk-input uk-form-width-large"
            size="50"
            required
          />
          <br /><br />
          <br />

          <button
            class="uk-button"
            onclick="javascript:createFile()"
            id="saveNewFile"
            style=" color: white;
              background-color: rgb(70, 70, 70);
              border: none;
              padding: 10px;
              border-radius: 10px;
              cursor: pointer;
              transition: all 0.3s;"
            type="submit"
          >
            <i class="bi bi-file-earmark-plus-fill"></i> Create!
          </button>
        </div>
      </div>
    </div>

    <div
      id="modal-close-select"
      uk-modal
      style="font-family: 'Dosis', sans-serif; color: #ffffff; width: auto"
    >
      <div
        class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"
        style="background-color: #1e1e1e; width: auto; border-radius: 10px"
      >
        <button class="uk-modal-close-default" type="button" uk-close></button>

        <a
          ><button
            class="uk-button"
            style="
              color: white;
              background-color: rgb(70, 70, 70);
              border: none;
              padding: 10px;
              border-radius: 10px;
              cursor: pointer;
              transition: all 0.3s;
            "
            onclick="javascript:back()"
          >
            <i class="bi bi-arrow-bar-left"></i> Back
          </button></a
        >
        <a
          ><button
            class="uk-button"
            style="
              color: white;
              background-color: rgb(70, 70, 70);
              border: none;
              padding: 10px;
              border-radius: 10px;
              cursor: pointer;
              transition: all 0.3s;
            "
            onclick="javascript:newFile()"
          >
            <i class="bi bi-file-earmark-text-fill"></i> New file
          </button></a
        >

        <h2
          class="uk-modal-title"
          style="font-family: 'Dosis', sans-serif; color: #ffffff"
        >
          Editor
        </h2>
        <table
          class="uk-table uk-table-small uk-table-divider"
          style="font-family: 'Dosis', sans-serif; color: #ffffff"
          style="
            border-radius: 30px;
            margin: 30px;
            padding: 30px;
            max-width: 100%;
          "
        >
          <thead>
            <tr>
              <th style="font-family: 'Dosis', sans-serif; color: #ffffff">
                File / Directory Name
              </th>
              <th style="font-family: 'Dosis', sans-serif; color: #ffffff">
                Edit
              </th>
              <th style="font-family: 'Dosis', sans-serif; color: #ffffff">
                Delete
              </th>
            </tr>
          </thead>
          <tbody id="body"></tbody>
        </table>
      </div>
    </div>

    <div
      id="modal-close-aoiEval"
      uk-modal
      style="
        font-family: 'Dosis', sans-serif;
        font-weight: 1000;
        color: #ffffff;
      "
    >
      <div
        class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"
        style="border-radius: 10px; background-color: #1e1e1e"
      >
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2
          class="uk-modal-title"
          style="
            font-family: 'Dosis', sans-serif;
            font-weight: 1000;
            color: #ffffff;
          "
        >
          Aoi.js Eval
        </h2>
        <form
          id="myAoiForm"
          action="/api/!auth/aoieval"
          method="post"
          autocomplete="off"
        >
          <textarea
            type="input"
            name="execute"
            id="aoiEval"
            placeholder="Type your code to eval!"
            autocomplete="false"
            style="width: 100"
            class="uk-form-width-large uk-textarea"
            required
          ></textarea>
          <br /><br />
          <div>
            <pre id="dataAoi" style="display: none"></pre>
          </div>
          <br />

          <button
            class="uk-button btnex"
            id="aoiBut"
            style="
              background-color: rgb(2, 188, 55);
              border: none;
              color: rgb(0, 0, 0);
              padding: 10px;
              border-radius: 10px;
              cursor: pointer;
              transition: all 0.3s;
            "
            type="submit"
          >
            Execute!
          </button>
        </form>
      </div>
    </div>

    <div
      id="modal-close-djsEval"
      uk-modal
      style="
        font-family: 'Dosis', sans-serif;
        font-weight: 1000;
        color: #ffffff;
      "
    >
      <div
        class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"
        style="border-radius: 10px; background-color: #1e1e1e"
      >
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2
          class="uk-modal-title"
          style="
            font-family: 'Dosis', sans-serif;
            font-weight: 1000;
            color: #ffffff;
          "
        >
          D.js/Javascript Eval
        </h2>
        <form
          id="myDjsForm"
          action="/api/!auth/djseval"
          method="post"
          autocomplete="off"
        >
          <textarea
            type="input"
            name="execute"
            id="djsEval"
            placeholder="Type your code to eval!"
            autocomplete="false"
            style="width: 100"
            class="uk-form-width-large uk-textarea"
            required
          ></textarea>
          <br /><br />
          <div>
            <pre id="dataDjs" style="display: none"></pre>
          </div>
          <br />

          <button
            class="uk-button btnex"
            id="djsBut"
            style="
              background-color: rgb(2, 188, 55);
              border: none;
              color: rgb(0, 0, 0);
              padding: 10px;
              border-radius: 10px;
              cursor: pointer;
              transition: all 0.3s;
            "
            type="submit"
          >
            Execute!
          </button>
        </form>
      </div>
    </div>

    <div
      id="modal-close-stats"
      uk-modal
      style="
        font-family: 'Dosis', sans-serif;
        font-weight: 1000;
        color: #ffffff;
      "
    >
      <div
        class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"
        style="background-color: #1e1e1e"
      >
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2
          class="uk-modal-title"
          style="
            font-family: 'Dosis', sans-serif;
            font-weight: 1000;
            color: #ffffff;
          "
        >
          Statistics
        </h2>
        <h3
          class="uk-modal-title"
          style="
            font-family: 'Dosis', sans-serif;
            font-weight: 800;
            color: #ffffff;
          "
        >
          RAM:
          <span id="ram"></span>
        </h3>
        <h3
          class="uk-modal-title"
          style="
            font-family: 'Dosis', sans-serif;
            font-weight: 800;
            color: #ffffff;
          "
        >
          UPTIME:
          <span id="uptime"></span>
        </h3>
        <h3
          class="uk-modal-title"
          style="
            font-family: 'Dosis', sans-serif;
            font-weight: 800;
            color: #ffffff;
          "
        >
          CPU:
          <span id="cpu"></span>
        </h3>
      </div>
    </div>

    <div
      id="modal-close-guild"
      uk-modal
      style="
        font-family: 'Dosis', sans-serif;
        font-weight: 1000;
        color: #ffffff;
      "
    >
      <div
        class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"
        style="background-color: #1e1e1e"
        align="center"
      >
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2
          class="uk-modal-title"
          style="
            font-family: 'Dosis', sans-serif;
            font-weight: 1000;
            color: #ffffff;
          "
        >
          Guilds
        </h2>
        <div
          id="guildList"
          style="
            font-family: 'Dosis', sans-serif;
            font-weight: 1000;
            color: #ffffff;
            display: inline-block;
            display: flex;
            justify-content: space-between;
          "
          align="center"
          class="w3-hide-medium w3-hide-small"
        ></div>
        <div
          id="guildList2"
          style="
            font-family: 'Dosis', sans-serif;
            font-weight: 1000;
            color: #ffffff;
            justify-content: space-between;
          "
          align="center"
          class="w3-hide-large"
        ></div>
      </div>
    </div>
      
    <script>
      function newFile() {
        UIkit.modal("#modal-close-select").toggle();
        UIkit.modal("#modal-close-newFile").toggle();
      }
      function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return "";
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
      var file;
      var link;
      if (!getParameterByName("dir")) {
        file = "/api/!auth/dirs";
        link = "/panel";
      } else {
        file = "/api/!auth/dirs?dir=" + getParameterByName("dir");
        link = getParameterByName("dir").split("/");
        if (link.length == 1) {
          var a = getParameterByName("dir").split("\\");
          console.log(a);

          var n = 1;
          if (a[a.length - 1] == "") {
            n = 2;
          }
          console.log(a[a.length - n]);
          link = getParameterByName("dir").replace("\\" + a[a.length - n], "");
        } else {
          var a = getParameterByName("dir").split("/");
          console.log(a);
          var n = 1;
          if (a[a.length - 1] == "") {
            n = 2;
          }
          link = getParameterByName("dir").replace("/" + a[a.length - n], "");
        }
        console.log(link);
      }
      function back() {
        if (getParameterByName("dir")) {
          window.location.href = "/panel?dir=" + link;
        } else {
          window.location.href = "#";
        }
      }
      var baseLk = "";
      async function getBL() {
        if (getParameterByName("dir"))
          return (baseLk = getParameterByName("dir"));
        let baseLink = await fetch("/api/!auth/baseRoute")
          .then((x) => x.json())
          .then((y) => {
            return y;
          });
        console.log("baselink:" + baseLink.data);
        baseLk = baseLink.data;
      }
      getBL();

      fetch(file)
        .then((x) => x.json())
        .then((y) => {
          let a = "";
          console.log(y);
          for (let i = 0; i < y.length; i++) {
            if (y[i].type == "dir") {
              a += `<tr>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;'><div class="hofuu"><i class="bi bi-folder-fill"></i> ${y[
              i
            ].path.replace(baseLk, "")}</div></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;'><a href="/panel/?dir=${
              y[i].path
            }"><button class="uk-button uk-button-default uk-button-small" class="uk-button uk-button-default uk-button-small" style="color:white; border-radius: 10px;animation: gradient-animation 4s ease-in-out infinite;padding:2px 9px 2px 9px;">Open</button></a></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;'><button class="uk-button uk-button-default uk-button-small" class="uk-button uk-button-default uk-button-small" style="color:white; border-radius: 10px;animation: gradient-animation 4s ease-in-out infinite;padding:2px 9px 2px 9px;" onclick="javascript:deleteFolder('${
              y[i].path
            }')">Delete</button></th>
        </tr>`;
            } else {
              a += `<tr>
            <th class="hofuu" style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;overflow: hidden;'><div class="hofuu"><i class="bi bi-file-earmark-text-fill"></i> ${y[
              i
            ].path.replace(baseLk, "")}</div></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;'><a href="/editor?file=${
              y[i].path
            }"><button class="uk-button uk-button-default uk-button-small" class="uk-button uk-button-default uk-button-small" style="color:white; border-radius: 10px;animation: gradient-animation 4s ease-in-out infinite;padding:2px 9px 2px 9px;">Edit</button></a></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;'><button class="uk-button uk-button-default uk-button-small" class="uk-button uk-button-default uk-button-small" style="color:white; border-radius: 10px;animation: gradient-animation 4s ease-in-out infinite;padding:2px 9px 2px 9px;" onclick="deleteFile('${y[
              i
            ].path.replace(/\\/g, "\\\\")}');">Delete</button></th>
        </tr>`;
            }
          }
          document.getElementById("body").innerHTML = a;
          if (getParameterByName("dir")) {
            UIkit.modal("#modal-close-select").toggle();
          }
        });
      async function deleteFile(filepath) {
        UIkit.notification({
          message: "Deleting file...",
          status: "success",
          pos: "top-center",
          timeout: 20000,
        });
        let fd = await fetch("/api/!auth/deleteFile?filepath=" + filepath)
          .then((data) => data.json())
          .then((json) => {
            return json;
          });
        UIkit.notification.closeAll();
        if (fd.data == "Success!") {
          UIkit.notification({
            message: "Success",
            status: "success",
            pos: "top-center",
            timeout: 5000,
          });
          fetch(file)
            .then((x) => x.json())
            .then((y) => {
              let a = "";
              console.log(y);
              for (let i = 0; i < y.length; i++) {
                if (y[i].type == "dir") {
                  a += `<tr>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'>Dir: ${y[
              i
            ].path.replace(baseLk, "")}</th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'><a href="/panel/?dir=${
              y[i].path
            }"><button class="uk-button uk-button-default uk-button-small" style="color:white;" style="background: linear-gradient(120deg, #ea00ff, #0509e6);border-radius: 30px;animation: gradient-animation 4s ease-in-out infinite;">Open</button></a></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'><button class="uk-button uk-button-default uk-button-small" style="color:white;" style="background: linear-gradient(120deg, #ea00ff, #0509e6);border-radius: 30px;animation: gradient-animation 4s ease-in-out infinite;" onclick="javascript:deleteFolder('${
              y[i].path
            }')">Delete</button></th>
        </tr>`;
                } else {
                  a += `<tr>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'>File: ${y[
              i
            ].path.replace(baseLk, "")}</th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'><a href="/editor?file=${
              y[i].path
            }"><button class="uk-button uk-button-default uk-button-small" style="color:white;" style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;' style="background: linear-gradient(120deg, #ea00ff, #0509e6);border-radius: 30px;animation: gradient-animation 4s ease-in-out infinite;">Edit</button></a></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'><button class="uk-button uk-button-default uk-button-small" style="color:white;" style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;' style="background: linear-gradient(120deg, RED, BLACK);border-radius: 30px;animation: gradient-animation 4s ease-in-out infinite;" onclick="deleteFile('${y[
              i
            ].path.replace(/\\/g, "\\\\")}');">Delete</button></th>
        </tr>`;
                }
              }
              document.getElementById("body").innerHTML = a;
              if (getParameterByName("dir")) {
                UIkit.modal("#modal-close-select").toggle();
              }
            });
        } else {
          UIkit.notification({
            message: fd.data,
            status: "danger",
            pos: "top-center",
            timeout: 5000,
          });
        }
      }

      async function deleteFolder(filepath) {
        UIkit.notification({
          message: "Deleting file...",
          status: "success",
          pos: "top-center",
          timeout: 20000,
        });
        let fd = await fetch("/api/!auth/deleteDir?filepath=" + filepath)
          .then((data) => data.json())
          .then((json) => {
            return json;
          });
        UIkit.notification.closeAll();
        if (fd.data == "Success!") {
          UIkit.notification({
            message: "Success",
            status: "success",
            pos: "top-center",
            timeout: 5000,
          });
          fetch(file)
            .then((x) => x.json())
            .then((y) => {
              let a = "";
              console.log(y);
              for (let i = 0; i < y.length; i++) {
                if (y[i].type == "dir") {
                  a += `<tr>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'>Dir: ${y[
              i
            ].path.replace(baseLk, "")}</th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'><a href="/panel/?dir=${
              y[i].path
            }"><button class="uk-button uk-button-default uk-button-small" style="color:white;" style="background: linear-gradient(120deg, #ea00ff, #0509e6);border-radius: 30px;animation: gradient-animation 4s ease-in-out infinite;">Open</button></a></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'><button class="uk-button uk-button-default uk-button-small" style="color:white;" style="background: linear-gradient(120deg, #ea00ff, #0509e6);border-radius: 30px;animation: gradient-animation 4s ease-in-out infinite;" onclick="javascript:deleteFolder('${
              y[i].path
            }')">Delete</button></th>
        </tr>`;
                } else {
                  a += `<tr>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'>File: ${y[
              i
            ].path.replace(baseLk, "")}</th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'><a href="/editor?file=${
              y[i].path
            }"><button class="uk-button uk-button-default uk-button-small" style="color:white;" style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;' style="background: linear-gradient(120deg, #ea00ff, #0509e6);border-radius: 30px;animation: gradient-animation 4s ease-in-out infinite;">Edit</button></a></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;font-size:4vw;'><button class="uk-button uk-button-default uk-button-small" style="color:white;" style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;' style="background: linear-gradient(120deg, RED, BLACK);border-radius: 30px;animation: gradient-animation 4s ease-in-out infinite;" onclick="deleteFile('${y[
              i
            ].path.replace(/\\/g, "\\\\")}');">Delete</button></th>
        </tr>`;
                }
              }
              document.getElementById("body").innerHTML = a;
              if (getParameterByName("dir")) {
                UIkit.modal("#modal-close-select").toggle();
              }
            });
        } else {
          UIkit.notification({
            message: fd.data,
            status: "danger",
            pos: "top-center",
            timeout: 5000,
          });
        }
      }

      async function createFile() {
        UIkit.modal("#modal-close-newFile").toggle();
        UIkit.modal("#modal-close-select").toggle();
        UIkit.notification({
          message: "Creating file...",
          status: "success",
          pos: "top-center",
          timeout: 20000,
        });
        let fd = await fetch(
          "/api/!auth/createFile?filepath=" +
            baseLk +
            "/" +
            document.getElementById("file").value
        )
          .then((data) => data.json())
          .then((json) => {
            return json;
          });
        UIkit.notification.closeAll();
        if (fd.data == "Success!") {
          UIkit.notification({
            message: "Success",
            status: "success",
            pos: "top-center",
            timeout: 5000,
          });
          fetch(file)
            .then((x) => x.json())
            .then((y) => {
              let a = "";
              console.log(y);
              for (let i = 0; i < y.length; i++) {
                if (y[i].type == "dir") {
                  a += `<tr>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;'><div class="hofuu"><i class="bi bi-folder-fill"></i> ${y[
              i
            ].path.replace(baseLk, "")}</div></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;'><a href="/panel/?dir=${
              y[i].path
            }"><button class="uk-button uk-button-default uk-button-small" class="uk-button uk-button-default uk-button-small" style="color:white; border-radius: 10px;animation: gradient-animation 4s ease-in-out infinite;padding:2px 9px 2px 9px;">Open</button></a></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;'><button class="uk-button uk-button-default uk-button-small" class="uk-button uk-button-default uk-button-small" style="color:white; border-radius: 10px;animation: gradient-animation 4s ease-in-out infinite;padding:2px 9px 2px 9px;" onclick="javascript:deleteFolder('${
              y[i].path
            }')">Delete</button></th>
        </tr>`;
            } else {
              a += `<tr>
            <th class="hofuu" style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;overflow: hidden;'><div class="hofuu"><i class="bi bi-file-earmark-text-fill"></i> ${y[
              i
            ].path.replace(baseLk, "")}</div></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;'><a href="/editor?file=${
              y[i].path
            }"><button class="uk-button uk-button-default uk-button-small" class="uk-button uk-button-default uk-button-small" style="color:white; border-radius: 10px;animation: gradient-animation 4s ease-in-out infinite;padding:2px 9px 2px 9px;">Edit</button></a></th>
            <th style='font-family: "Dosis",sans-serif;font-weight: 1000;color: #FFFFFF;'><button class="uk-button uk-button-default uk-button-small" class="uk-button uk-button-default uk-button-small" style="color:white; border-radius: 10px;animation: gradient-animation 4s ease-in-out infinite;padding:2px 9px 2px 9px;" onclick="deleteFile('${y[
              i
            ].path.replace(/\\/g, "\\\\")}');">Delete</button></th>
        </tr>`;
                }
              }
              document.getElementById("body").innerHTML = a;
              if (getParameterByName("dir")) {
                UIkit.modal("#modal-close-select").toggle();
              }
            });
        } else {
          UIkit.notification({
            message: fd.data,
            status: "danger",
            pos: "top-center",
            timeout: 5000,
          });
        }
      }
    </script>
    <script>
      async function reboot() {
        let d = await fetch("/api/!auth/reboot");
        let s = await d.json();
        UIkit.notification({
          message: "Rebooting server. This may take a while!",
          status: "success",
          pos: "top-center",
          timeout: 5000,
        });
      }
      async function stats() {
        const res = await fetch("/api/!auth/stats");
        const json = await res.json();
        document.getElementById("ram").innerHTML = parseFloat(json.ram).toFixed(
          2
        );
        document.getElementById("uptime").innerHTML = json.uptime;
        document.getElementById("cpu").innerHTML = parseFloat(json.cpu).toFixed(
          2
        );
      }
      var guildHTML = "";
      async function guildData() {
        const res = await fetch("/api/!auth/guilds");
        const json = await res.json();
        for (let i = 0; i < json.length; i++) {
          document.getElementById(
            "guildList"
          ).innerHTML += `<a ><img src="${json[i].iconURL.replace(
            ".webp",
            ".png"
          )}" id="icons" onerror="this.src='https://www.freepnglogos.com/uploads/discord-logo-png/concours-discord-cartes-voeux-fortnite-france-6.png'" style="border-radius: 50%; width: 150px;background: linear-gradient(120deg, #ea00ff, #0509e6) border-box;color: #313149;padding: 5px;border: 1px solid transparent;display: inline-block;margin: 15px 0;"></img><br>${
            json[i].name
          }</a><br><br>`;
          document.getElementById(
            "guildList2"
          ).innerHTML += `<a ><img src="${json[i].iconURL.replace(
            ".webp",
            ".png"
          )}" id="icons" onerror="this.src='https://www.freepnglogos.com/uploads/discord-logo-png/concours-discord-cartes-voeux-fortnite-france-6.png'" style="border-radius: 50%; width: 150px;background: linear-gradient(120deg, #ea00ff, #0509e6) border-box;color: #313149;padding: 5px;border: 1px solid transparent;display: inline-block;margin: 15px 0;"></img><br>${
            json[i].name
          }</a><br><br>`;
          guildHTML += `<a ><img src="${json[i].iconURL.replace(
            ".webp",
            ".png"
          )}"  onerror="this.src='https://www.freepnglogos.com/uploads/discord-logo-png/concours-discord-cartes-voeux-fortnite-france-6.png'" style="border-radius: 50%; width: 150px;background: linear-gradient(120deg, #ea00ff, #0509e6) border-box;color: #313149;padding: 5px;border: 1px solid transparent;display: inline-block;margin: 15px 0;"></img><br>${
            json[i].name
          }</a><br><br>`;
        }
        if (json.length == 0) {
          document.getElementById("guildList").innerHTML = "No guilds found.";
          document.getElementById("guildList2").innerHTML = "No guilds found.";
        }
      }
      guildData();
      setInterval(stats, 1000);
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#myForm").submit(function () {
          // catch the form's submit event
          UIkit.notification({
            message: "Executing command. This may take a while!",
            status: "success",
            pos: "top-center",
            timeout: 20000,
          });
          document.getElementById("execBut").disabled = true;
          $.ajax({
            // create an AJAX call...
            data: $(this).serialize(),
            type: "get",
            url: "/api/!auth/shellexec",
            success: function (response) {
              console.log(response);
              document.getElementById("data").innerHTML = response.data;
              document.getElementById("data").style.display = "block";
              document.getElementById("execBut").disabled = false;
              UIkit.notification.closeAll();
            },
          });
          return false;
        });
        $("#myAoiForm").submit(function () {
          // catch the form's submit event
          UIkit.notification({
            message: "Executing code. This may take a while!",
            status: "success",
            pos: "top-center",
            timeout: 20000,
          });
          document.getElementById("aoiBut").disabled = true;
          $.ajax({
            // create an AJAX call...
            data: $(this).serialize(),
            type: "get",
            url: "/api/!auth/aoieval",
            success: function (response) {
              console.log(response);
              document.getElementById("dataAoi").innerHTML = response.data;
              document.getElementById("dataAoi").style.display = "block";
              document.getElementById("aoiBut").disabled = false;
              UIkit.notification.closeAll();
            },
          });
          return false;
        });
        $("#myDjsForm").submit(function () {
          // catch the form's submit event
          UIkit.notification({
            message: "Executing code. This may take a while!",
            status: "success",
            pos: "top-center",
            timeout: 20000,
          });
          document.getElementById("djsBut").disabled = true;
          $.ajax({
            // create an AJAX call...
            data: $(this).serialize(),
            type: "get",
            url: "/api/!auth/djseval",
            success: function (response) {
              console.log(response);
              document.getElementById("dataDjs").innerHTML = response.data;
              document.getElementById("dataDjs").style.display = "block";
              document.getElementById("djsBut").disabled = false;
              UIkit.notification.closeAll();
            },
          });
          return false;
        });
      });
    </script>
    <script>
      figlet.defaults({ fontPath: "https://unpkg.com/figlet/fonts/" });
      figlet.preloadFonts(["Standard", "Slant"], ready);

      var term;

      function ready() {
        term = $("#terminal").terminal(
          function (cmd) {
            // echo function will run it in each render,
            // so text can be resized based on cols
            this.echo(() => exec(this, cmd));
          },
          {
            greetings: false,
            onInit() {
              this.echo(
                () =>
                  render(this, "aoi .panel", "Slant") +
                  `\n[[;rgba(255,255,255,0.99);]@akarui/aoi.panel Terminal v0.0.5]. Type a command. Eg: \`help\`\n`
              );
            },
          }
        );
      }

      function render(term, text, font) {
        const cols = term.cols();
        return figlet.textSync(text, {
          font: font || "Standard",
          width: cols,
          whitespaceBreak: true,
        });
      }
      function exec(terminal, cmd) {
        let mc = cmd.split(" ")[0] || cmd;
        var resp = false;
        if (mc == "help" && !cmd.split(" ")[1]) {
          resp = true;
          return "Welcome to @akarui/aoi.panel's terminal. You can use all shell commands here, and a few custom ones. To list custom commands use `help --commands`";
        }
        if (mc == "help" && cmd.split(" ")[1] == "--commands") {
          resp = true;
          return "Here is the list of all commands : \n1) aoieval {code}\n2) reboot\n3) botinfo\n4) kill";
        }
        if (mc == "aoieval") {
          resp = true;
          if (
            !cmd.replace(mc, "") ||
            cmd.replace(mc, "") == "" ||
            cmd.replace(mc, "") == " "
          )
            return "Please provide code to evaluate.";
          $.ajax({
            // create an AJAX call...
            type: "get",
            url: "/api/!auth/aoieval?execute=" + cmd.replace(mc, ""),
            success: function (response) {
              console.log(response.data);
              terminal.echo(response.data);
            },
          });
          return "Evaluation code. Please wait!";
        }
        if (mc == "reboot") {
          resp = true;
          $.ajax({
            type: "get",
            url: "/api/!auth/reboot",
            success: function (response) {
              console.log(response.data);
              terminal.echo(response.data);
            },
          });
          return "Rebooting. This may take a while!";
        }
        if (mc == "kill") {
          resp = true;
          $.ajax({
            // create an AJAX call...
            type: "get",
            url: "/api/!auth/shellexec?execute=kill 1",
            success: function (response) {
              console.log(response.data);
              terminal.echo(
                response.data.replace(/<br>/g, "").replace(/\\r/g, "")
              );
            },
          });
          return "Killing the code.";
        }
        if (mc == "botinfo") {
          resp = true;
          $.ajax({
            // create an AJAX call...
            type: "get",
            url: "/api/!auth",
            success: function (response) {
              console.log(response);
              let template = `Bot Details:\nUsername: ${response.usertag}\nID: ${response.id}\nAvatarURL: ${response.avatarURL}`;
              terminal.echo(template);
            },
          });
          return "Fetching bot info...";
        }
        if (mc == "functioninfo") {
          resp = true;
          if (
            !cmd.replace(mc, "").replace(" ", "") ||
            cmd.replace(mc, "").replace(" ", "") == "" ||
            cmd.replace(mc, "").replace(" ", "") == " "
          )
            return "No function was provided!";
          $.ajax({
            // create an AJAX call...
            type: "get",
            url:
              "https://aoi-api.bumblebeerox1.repl.co/api/function?function=" +
              cmd.replace(mc, "").replace(" ", ""),
            success: function (response) {
              console.log(response);
              let template = `Function Information:\nFunction Name: ${
                response.name
              }\nDescription: ${response.desc}\nUsage: ${response.usage
                .replace(/```/g, "")
                .replace("php", "")
                .replace(/\\n/g, "")
                .replace(/\n/g, "")}\nCategory: ${response.category}\nDocs: ${
                response.docs
              }`;
              terminal.echo(template);
            },
          });
          return `Fetching Function info (of ${cmd
            .replace(mc, "")
            .replace(" ", "")})...`;
        }
        if (resp == false) {
          /*UIkit.notification({
                            message: 'Executing command. This may take a while!',
                            status: 'success',
                            pos: 'top-center',
                            timeout: 20000
                        });*/
          $.ajax({
            // create an AJAX call...
            type: "get",
            url: "/api/!auth/shellexec?execute=" + cmd,
            success: function (response) {
              console.log(response.data);
              terminal.echo(
                response.data.replace(/<br>/g, "").replace(/\\r/g, "")
              );
              UIkit.notification.closeAll();
              //document.getElementById("data").style.display="block";
              //document.getElementById("execBut").disabled=false;
            },
          });
          return "Executing : " + cmd;
        }
      }
    </script>
  </body>
  <script>
    const burger = document.querySelector(".burger");
    const nav = document.querySelector("nav");

    burger.addEventListener("click", () => {
      nav.classList.toggle("active");
    });
  </script>
</html>
