
<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="https://tsparticles.github.io/404-templates/space/css/404.css" />
  <meta http-equiv="refresh" content="<%= ref %>">
</head>
<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>
  
<body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
        <h1>Aoi.Panel Error</h1>
        <h3><%= desc %></h3>
        <img src="https://aoi.js.org/img/easy-to-use.png" height="200px" width="200px" class="center"/>
        
    </div>


</body>
</html>