@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Poppins&display=swap");

:root {
  --background: 266, 16%, 92%;
  --text-primary: 0, 0%, 0%;
  /* Colors */
  --black: 0, 0%, 0%;
  --white: 0, 0%, 100%;
  --red: 347, 84%, 68%;
  --orange: 23, 84%, 68%;
  --yellow: 52, 84%, 68%;
  --green: 114, 84%, 68%;
  --teal: 163, 84%, 68%;
  --blue: 219, 84%, 68%;
  --purple: 279, 84%, 68%;
  --pink: 312, 84%, 68%;
  /* Gradients */
  --gradient: linear-gradient(
    90deg,
    hsla(var(--red), 1) 0%,
    hsla(var(--orange), 1) 12.5%,
    hsla(var(--yellow), 1) 25%,
    hsla(var(--green), 1) 37.5%,
    hsla(var(--teal), 1) 50%,
    hsla(var(--blue), 1) 62.5%,
    hsla(var(--blue), 1) 75%,
    hsla(var(--purple), 1) 87.5%,
    hsla(var(--pink), 1) 100%
  );
  /* Sizes */
  --paragraph: 1.11rem;
  /* misc */
  --transition-main: 0.175, 0.685, 0.32;
  /* Fonts */
  --font-main: "Poppins";
}

html,
body  {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222222;

}
.soon{
text-align: center;
}
.menu {
  display: none;
}

.discordT {
  position: absolute;
  top: 91%;
  right: 90px;
}

.discord {
  position: absolute;
  top: 90%;
}

.tiktokT {
  position: absolute;
  top: 83%;
  right: 97px;
}

.tiktok {
  position: absolute;
  top: 82%;
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 15px;
}

.navbar {
  width: 70px;
  height: 100vh;
  background-color: rgb(29, 29, 29);
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.2s;
  display: flex;
  flex-direction: column;
  color: black;
}
.tiltesub {
  font-size: 25px;
  color: #adadad;
  cursor: default;
}
.btnk.dropdown .submenu {
  display: none;
  position: absolute; /* Position absolute pour le menu déroulant */
  background-color: #1d1d1d;
  list-style: none;

  padding: 0px 89px 0px 0px;
  margin: 0;
  z-index: 1;
  width: 50%;
  transition: all 0.3s ease-in-out;
}

.btnk.dropdown:hover .submenu {
  display: block;
}
.dropdownb:hover {
  padding: 0px 0px 200px 0px;
}
.submenu {
  padding: 0px 0px 220px 0px;
}
.submenu li {
  padding: 0px 185px 0px 0px;
}
.btnex {
  background-color: rgb(2, 188, 55);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.btnex:hover {
  background-color: rgb(7, 114, 38);
  color: rgb(171, 171, 171);
}

.btnex:active {
  background-color: rgb(1, 174, 38);
  color: rgb(255, 255, 255)
}
.submenu li a {
  text-decoration: none;
  color: #999999;
  font-size: 15px;
  display: block;
  padding: 10px 175px 10px 10px;
  transition: all 0.3s ease-in-out;
}
.submenu li a:hover {
  text-decoration: none;
  color: #c4c4c4;
  font-size: 20px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.navbar-icon {
  display: flex;
  align-items: center;
  padding: 7px 19px 4px 6px;

  cursor: pointer;
  transition: width 0.5s;
}

.navbar-icon img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar-iconl {
  display: flex;
  align-items: center;
  padding: 7px 10px 1px 10px;
  cursor: pointer;
  transition: width 0.5s;
}

.navbar-iconl img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

a {
  outline: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.btnk {
  color: #999999;
  transition: all 0.3s ease-in-out;
}

.btnkb {
  background-color: #1d1d1d;
  margin: 0px 0px 0px 5px;
}

.btnk:hover {
  background: linear-gradient(#f26b85, #f1c168);
  cursor: pointer;

  outline: none;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.line {
  height: 9px;
  width: 40px;
  background-color: #ffffff;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar-icon span {
  display: none;

  padding: 0px 0px 8px 0px;
}

.navbar-icon span:hover {
  display: none;

  padding: 0px 0px 8px 0px;
}

.navbar-iconl span {
  display: none;

  padding: 0px 0px 8px 0px;
}

.navbar-iconl span:hover {
  display: none;

  padding: 0px 0px 8px 0px;
}

.titlelogo {
  font-size: 20px;
  color: white;
}

.navbar:hover {
  width: 200px;
  overflow-y: scroll;
  scrollbar-color: rgb(29, 29, 29);
  scrollbar-width: thin;
}

.navbar:hover .navbar-icon span {
  display: block;
}

.navbar:hover .navbar-iconl span {
  display: block;
}

.menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
}

.menu li a:hover {
  color: #000000;
}

.navicon {
  padding: 0px 6px 8px 8px;
  font-size: 30px;
}

.content {
  margin-left: 80px;
  /* Ajustez cette valeur en fonction de la largeur de la barre de navigation */
  padding: 20px;
}

.footer {
  text-align: end;
}

::-webkit-scrollbar {
  width: 10px;
  color: #ffffff;
}

::-webkit-scrollbar-track {
  background-color: #1d1d1d;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #3c48c5;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c48c5;
}

.line {
  height: 3px;
  width: 25px;
  background-color: #666666;
  margin: 5px;

  transition: all 0.3s ease-in-out;
}
.textdir{
font-size: 25px;}
@media screen and (max-width: 600px) {
  .navicon {
    display: none;
  }

  .logonav {
    width: 70px;
    height: 70px;
  }

  .burger {
    display: block;
  }

  .line {
    width: 20px;
  }

  .linsf {
    padding: 9px;
  }
  .navbar {
    overflow-y: scroll;
    scrollbar-color: rgb(29, 29, 29);
    scrollbar-width: thin;
  }
  .navbar.active {
    background-color: #ffffff;
  }

  .navbar:hover .navbar-icon span {
    display: none;
  }

  .navbar:hover .navbar-iconl span {
    display: none;
  }

  .navbar:hover {
    width: 100%;
  }

  .logonav {
    width: 60px;
    height: 60px;
  }

  nav.active .line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
  }

  nav.active .line:nth-child(2) {
    opacity: 0;
  }

  nav.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
  }
.textdir{
font-size: 4vw;}
  nav.active body {
    background-color: #303030;
  }

  navbar.active {
    position: flex;
  }

  nav.active .menu {
    overflow-y: scroll;
    scrollbar-color: rgb(29, 29, 29);
    scrollbar-width: thin;
    display: block;
    position: fixed;
    top: 47px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
    text-align: center;
    z-index: 998;
    padding: 50px;
  }

  nav.active .menu li a {
    color: white;
  }

  nav.active .menu li {
    display: block;

    margin-left: 0px;
    margin-bottom: 40px;
  }

  .navbar {
    width: 100%;
    height: auto;
    flex-direction: row;

    justify-content: space-between;
  }

  .btnk {
    display: none;
  }

  .navbar-icon {
    padding: 10px 15px;
  }

  .navbar-icon img {
    margin-right: 1px;
  }

  .navbar-icon span {
    display: none;
  }

  .navbar-iconl img {
    margin-right: 1px;
  }

  .navbar-iconl span {
    display: none;
  }

  .content {
    margin: 20px;
  }
}
