/* width */
root {
  --size: 1.6;
}
.cimg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cimg2 {
  height: 400px;
  transition: all 0.3s;
  border-radius: 10px;
}

h1 {
  text-align: center;
}
.cimg3 {
  height: 200px;
}

.ctext {
  font-size: 22px;
  text-align: center;
}

.ccard {
  background-color: rgba(41, 41, 41, 0);
  padding: 30px 80px 30px 80px;
  display: block;
  align-items: center;
  justify-content: center;
}

.cimg4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnpanel2 {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #448700;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

@media only screen and (max-width: 1237px) {
  .accueil {
    display: block;
  }
  .ccard {
    padding: 30px 300px 30px 300px;
  }
}
@media only screen and (max-width: 1048px) {
  .ccard {
    padding: 30px 200px 30px 200px;
  }
}
@media only screen and (max-width: 786px) {
  .cimg2 {
    height: 300px;
  }
  .ccard {
    padding: 30px 100px 30px 100px;
  }
}
@media only screen and (max-width: 575px) {
  .cimg2 {
    height: 200px;
  }
  .ccard {
    padding: 30px 50px 30px 50px;
  }
}
@media only screen and (max-width: 409px) {
  .cimg2 {
    display: none;
  }
  .ccard {
    padding: 30px 0px 30px 0px;
  }
}

/*img {}*/
@keyframes iconAni {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

button:disabled {
  background-color: #1e1e1e;
}

@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700,800");

html,
body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  background: #0f0f0f;
  min-height: 100vh;
}

#container {
  position: absolute;
  height: 100%;
  background-color: #1e1e1e;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  position: absolute;
  top: 40%;
  left: 30%;
}
.hofuu {
  width: 700px;
  overflow: hidden;
  font-size: 25px;
}
@media screen and (max-width: 1209px) {
  .hofuu {
    width: 500px;
    font-size: 20px;
  }
}
@media screen and (max-width: 853px) {
  .hofuu {
    width: 300px;
    font-size: 20px;
  }
}
@media screen and (max-width: 667px) {
  .hofuu {
    width: 200px;
    font-size: 15px;
  }
}
@media screen and (max-width: 460px) {
  .hofuu {
    width: 80px;
    font-size: 15px;
  }
}
@media screen and (max-width: 344px) {
  .hofuu {
    width: 50px;
    font-size: 15px;
  }
}
.animated-box {
  font-family: "Lato";
  color: #ffffff;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}

.animated-box h1 {
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;
}

.animated-box p {
  font-weight: 200;
}

.animated-box {
  position: relative;
}

.animated-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background: linear-gradient(120deg, #ea00ff, #0509e6);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    3px 100%,
    3px 3px,
    calc(100% - 3px) 3px,
    calc(100% - 3px) calc(100% - 3px),
    3px calc(100% - 3px),
    3px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
}

.animated-box.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }

  50% {
    background-position: 85% 100%;
  }

  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(
      0% 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      3px calc(100% - 3px),
      3px 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }

  25% {
    clip-path: polygon(
      0% 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }

  50% {
    clip-path: polygon(
      0% 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      100% 0%,
      0% 0%
    );
  }

  75% {
    -webkit-clip-path: polygon(
      0% 100%,
      3px 100%,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 0%,
      0% 0%
    );
  }

  100% {
    -webkit-clip-path: polygon(
      0% 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      0% 100%
    );
  }
}

#icons:hover {
  animation-name: iconAni;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.textdir {
  font-size: 25px;
}
@media screen and (max-width: 600px) {
  .textdir {
    font-size: 4tvw;
  }
}
.btnretart {
  background-color: rgb(255, 179, 0);
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.btnretart:hover {
  background-color: rgb(253, 84, 0);
  color: rgb(255, 255, 255);
}

.btnretart:active {
  background-color: rgb(253, 0, 0);
  color: rgb(255, 255, 255);
}

.btnlogout {
  background-color: rgb(149, 148, 148);
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  color: rgb(0, 0, 0);
}

.btnlogout:hover {
  background-color: rgb(138, 83, 55);
  color: rgb(255, 255, 255);
}

.btnlogout:active {
  background-color: rgb(253, 93, 0);
  color: rgb(255, 255, 255);
}

.box2-text {
  display: block;
}

.bio {
  font-size: 25px;
}

.container {
  padding: 0px 0px 0px 70px;
  color: white;
}

.boybox2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s;
}

.boybox3 {
  padding: 40px 50% 40px 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.3s;
}

.box2-monbre {
  padding: 6px 0px 0px 0px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0);
}

.barbox2 {
  background-color: white;
  padding: 1px;
  width: 2px;
  border-radius: 300px;
  margin: 0px 20px 0px 20px;
  height: 100%;
}

.box2-1 {
  margin: 3px;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  background-color: rgb(40, 40, 40);
}

.box {
  background-color: rgb(29, 29, 29);
  margin: 20px;
  padding: 6px 6px 20px 6px;
  text-align: center;
  border-radius: 10px;
}

.box2 {
  background-color: rgb(29, 29, 29);
  margin: 20px;
  padding: 6px;
  text-align: center;
  border-radius: 10px;
}

.todolist {
  background-color: rgb(29, 29, 29);
  margin: 20px;

  text-align: center;
  border-radius: 10px;
}

@media screen and (max-width: 669px) {
  .uptimet {
    font-size: 15px;
  }
}

@media screen and (max-width: 637px) {
  .barbox2 {
    margin: 0px 5px 0px 5px;
  }

  .uptimet {
    font-size: 12px;
  }
}

@media screen and (max-width: 537px) {
  .uptimet {
    font-size: 20px;
  }

  .bbox2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "box2"
      "todolist";
  }

  .boybox2 {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .box2-monbre {
    padding: 0px 0px 0px 0px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0);
  }
  .container {
    padding: 80px 0px 0px 0px;
  }
}

#guildList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.cardf {
  width: 300px;
  margin: 20px;
  text-align: center;
  border-radius: 13px;
  background-color: #272727;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.cardf:hover {
  transform: translateY(-10px);
}

.cardf img {
  border-radius: 13px 13px 13px 13px;
  width: 180px;
  height: 200px;
}

.cardf-content {
  padding: 20px;
}

.cardf-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cardf-content p {
  font-size: 16px;
  line-height: 1.5;
}

.imgp {
  border-radius: 13px 13px 13px 13px;
  padding: 30px 0px 0px 0px;
}

.bogu {
  background-color: #303030;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.wite {
  color: #fff;
}

.gu {
  color: #a8a8a8;
}

.lun {
  color: #a8a8a8;
  list-style: none;
}

.luno:link {
  color: #a8a8a8;
}

.nct {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.luno {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #a8a8a8;
}

@media only screen and (min-width: 768px) {
}

#guildList {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#guildList {
  width: 80%;

  margin: 0px auto;
  padding: 20px;

  text-align: center;
}

h1 {
  font-size: 30px;
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn:hover {
  background-color: #555;
}
