#container{
    position: absolute;
    overflow: hidden;
    
    background-color: #1e1e1e;
    height:90%;
  }
  #diff{
    position: absolute;
      overflow: hidden;
    height:100%;
    width:100%;
  }